/* styles/page.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #02034b, #4a69bd, #6a89cc, #DFEBFB);
}

.main {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #02034b;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 0.5rem;
  color: #4a69bd;
  text-align: left;
}

.form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 0.75rem;
  background-color: #4a69bd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #6a89cc;
}