.maindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.divCard {
  overflow: hidden; /* Para garantir que a imagem não ultrapasse os limites do card */
  margin: 20px;
  padding: 20px;
}

.divCard:hover {
  transform: translateY(-5px); /* Leve movimento de elevação no hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra mais intensa no hover */
}

.cover {
  display: flex;
  width: 200px;
  padding: 0px;
  height: 230px;
  object-fit: contain;
}

.bookTitle {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 15px;
  color: #333; /* Cor de texto suave */
}

.author {
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #777; /* Cor de texto mais clara para o autor */
  margin: 5px 0;
}

.synopsis {
  font-family: 'Helvetica', sans-serif;
  font-size: 0.95rem;
  color: #555; /* Cor suave para o texto */
  line-height: 1.5;
  margin-top: 10px;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px; /* Limitando a altura da sinopse */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita o número de linhas da sinopse */
  -webkit-box-orient: vertical;
}

