.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner{
  width: 100%;
  height: 200px;
  background-color: #262a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portrait{
  width: 200px;
  height: 250px;
  background-color: #f2f2f2;
  border: #4f5256 solid 2px;
  border-radius: 5px;
}

