.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner{
  width: 100%;
  height: 200px;
  background-color: #262a2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

