/* styles/styles.css */
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
}

.welcome-text {
  text-align: center;
  font-size: 1.5rem; /* 2xl */
}